<div id="<%= dom_id sala %>">
  <p>
    <strong>Nome:</strong>
    <%= sala.nome %>
  </p>

  <p>
    <strong>Capacidade:</strong>
    <%= sala.capacidade %>
  </p>

  <p>
    <strong>Projetor:</strong>
    <%= sala.projetor %>
  </p>

  <p>
    <strong>Dispo:</strong>
    <%= sala.dispo %>
  </p>

  <p>
    <strong>Edificio:</strong>
    <%= sala.edificio_id %>
  </p>

</div>
